<mat-card class="container">
    <mat-card-header>
     <div mat-card-avatar class="header-img"></div>
     <mat-card-title>        
         <strong>Circulos</strong>
     </mat-card-title>
     <mat-card-subtitle>
         Perímetro y Área
     </mat-card-subtitle>
    </mat-card-header>
     <form [formGroup]="form" (ngSubmit)="save($event)" >
 
         <mat-card-content>
             <div class="row">
                 <p>
                     <mat-form-field>
                         <mat-label>Radio</mat-label>
                         <input type="number" matInput formControlName="radio">
                         <mat-error *ngIf="radioField.hasError('min') && !radioField.hasError('required')">
                             La medida de la base <strong>no puede ser menor a 0</strong>
                         </mat-error>
                         <mat-error *ngIf="radioField.hasError('required')">
                             La medida de la base es <strong>obligatoria</strong>
                         </mat-error>
                     </mat-form-field>
                 </p>
             </div>
             
             <div class="row">
                 <p *ngIf= "circle">
                     El área del cuadrado es: {{ circle.calcAr() | number }}
                 </p>
                 <p *ngIf= "circle">
                     El périmetro del cuadrado: {{ circle.calcPr() | number }}
                 </p>
             </div>
 
         </mat-card-content>
         <mat-card-actions>
             <button class="submit" mat-raised-button color="primary" type="submit" >Calcular</button>
         </mat-card-actions>
     </form>
  </mat-card>
 
