.container {
    margin: 10px;
    width: 500px;    
    height: 500px;
    box-shadow: 0px 2px 4px #444;
    box-sizing: border-box;
}

mat-card-title {
    text-decoration: underline;
    color: #3F51B5;
}

.header-img {
    background-color: white;
    background-image: url('https://c0.klipartz.com/pngpicture/803/512/gratis-png-piramide-de-iconos-de-computadora-piramides.png');
    background-size: cover;
    background-position-x: -15px;
    background-repeat: no-repeat;
    
}

mat-card-actions {
    margin-bottom: 0px;
}

.row {
    display: inline-block;
}

.row:last-child {

    margin-left: 60px;
}

.submit {
    margin-left: calc(50% - 112px) !important;
    width: 202px;
    margin-top: 15px;
}

.altura {
    margin-bottom: 15px;
}

.image {
    width: 70%;
    margin-left: calc(50% - 154px);
}