<mat-card class="container">
    <mat-card-header>
     <div mat-card-avatar class="header-img"></div>
     <mat-card-title>
         <strong>Triangulos</strong>
     </mat-card-title>
     <mat-card-subtitle>
         Perímetro y Área
     </mat-card-subtitle>
    </mat-card-header>
     
         <mat-card-content>
             <mat-stepper [linear]="true" >
                <mat-step [stepControl]="form">
                    <form [formGroup]="form" (ngSubmit)="save($event)" >
                    <ng-template matStepLabel>Datos</ng-template>
                    <p>
                        <mat-form-field>
                            <mat-label>Base</mat-label>
                            <input type="number" matInput formControlName="base" required>
                            <mat-error *ngIf="baseField.hasError('min') && !baseField.hasError('required')">
                                La medida de la base <strong>no puede ser menor a 0</strong>
                            </mat-error>
                            <mat-error *ngIf="baseField.hasError('required')">
                                La medida de la base es <strong>obligatoria</strong>
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <mat-label>Lado A</mat-label>
                            <input type="number" matInput formControlName="lado1" required>
                            <mat-error *ngIf="lado1Field.hasError('min') && !lado1Field.hasError('required')">
                                El lado A <strong> no puede ser menor a 0</strong>
                            </mat-error>
                            <mat-error *ngIf="lado1Field.hasError('required')">
                                La medida del lado A es <strong>obligatoria</strong>
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <mat-label>Lado B</mat-label>
                            <input type="number" matInput formControlName="lado2">
                            <mat-hint>
                                El lado B solo es necesario si quiere hallar la altura
                            </mat-hint>
                            <mat-error *ngIf="lado2Field.hasError('min')">
                                El lado B <strong> no puede ser menor a 0</strong>
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="altura">
                            <mat-label>Altura</mat-label>
                            <input type="number" matInput formControlName="altura">
                            <mat-hint>
                                La altura no es necesaria si el triángulo
                            </mat-hint>
                            <mat-error *ngIf="alturaField.hasError('min')">
                                La altura <strong> no puede ser menor a 0</strong>
                            </mat-error>
                        </mat-form-field>
                        <button matStepperNext class="submit" mat-raised-button color="primary" type="submit" >Calcular</button>
                    </p>
                </form>                    
                </mat-step>
                
                <mat-step>
                    <ng-template matStepLabel>Datos</ng-template>
                    <ng-container *ngIf= "!isPosible">
                        <h2>No puede existir un triangulo con esos datos!</h2>
                    </ng-container>
                    <ng-container *ngIf= "!triangle && isPosible">
                        <h2>Rellena el formulario para poder mostrarte el resultado!!</h2>
                    </ng-container>
                    <ng-container *ngIf= "triangle && isPosible">
                        <p>
                            <ng-container *ngIf= "triangle.calcAlt() == undefined">
                                No se pudo calcular la altura ya que el triangulo es escaleno
                            </ng-container>
                            <ng-container *ngIf= "triangle.calcAlt()">
                                La altura del cuadrado: {{ triangle.calcAlt() | number}}
                            </ng-container>
                        </p>
                        <p>
                            El área del cuadrado es: {{ triangle.calcAr() | number }}
                        </p>
                        <p>
                            El périmetro del cuadrado: {{ triangle.calcPr() | number }}
                        </p>  
                    </ng-container>                                                           
                </mat-step>             
            </mat-stepper>
         </mat-card-content>        
  </mat-card>

