<section class="title">
    <img src="../../../../assets/Science discovery_Outline 1.svg" alt="">
    <mat-card>
        <h1>¿Que es Alpha Math?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime error animi ut, delectus totam maiores incidunt voluptate eius impedit.</p>
    </mat-card>
<section>
<section class="main">
    <mat-card>
        <mat-card-title>
            <h3>Triángulo</h3>
        </mat-card-title>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est sint, eligendi eaque dicta, placeat, debitis culpa id dignissimos tempore voluptatibus saepe quae non iure illum exercitationem expedita cupiditate sequi? Recusandae.</p>
        <img src="" alt="">
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h3>Cuadrado</h3>
        </mat-card-title>        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, libero sunt odio ea dolorem sequi ex aliquid atque porro reprehenderit dolore corporis aspernatur rem, vitae voluptatem culpa vel expedita voluptatum!</p>
        <img src="" alt="">
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h3>Circulo</h3>
        </mat-card-title>        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci porro rem non delectus explicabo ab in ut, minus sapiente eos praesentium quia voluptates distinctio. Mollitia ducimus officiis praesentium. Quaerat, non.</p>
        <img src="" alt="">
    </mat-card>
</section>
